<nav class="navbar p-0 fixed-top d-flex flex-row">
  <div
    class="navbar-menu-wrapper flex-grow d-flex justify-content-end align-items-stretch"
  >
    <div>
      <div
        data-toggle="collapse"
        href="#hotelCouponCodes"
        aria-expanded="false"
        aria-controls="hotelCouponCodes"
        style="cursor: pointer"
      >
        <div class="d-flex" style="gap: 10px">
          <div>
            <img
              src="/images/dashboard/profile_image.jpg"
              alt="profile_image"
              style="height: 65px; width: 65px; border-radius: 50%"
            />
          </div>
          <div class="text-white">
            <p class="mb-0 mt-3 fs-5">Vishw Prajapati</p>
            <p class="m-0 text-white-50">Admin</p>
          </div>
        </div>
      </div>
      <div class="collapse bg-white" id="hotelCouponCodes">
        <ul class="nav d-flex align-items-center sub-menu">
          <div style="width: fit-content">
            <span class="menu-icon">
              <i class="mdi mdi-laptop" style="color: red"></i>
            </span>
          </div>
          <div class="nav-item menu-items">
            <div class="nav-link" href="/admin/hotelContactUs">
              <span class="menu-title text-black">Setting</span>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>
