<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="main_logo">
    <div>
      <a href="/admin">
        <img src="/images/dashboard/logo-white.png" alt="skyBooking" />
      </a>
    </div>
  </div>
  <ul class="nav mt-2">
    <div>
      <li class="nav-item menu-items mt-2">
        <a class="nav-link" href="/admin">
          <span href="#dashboard" class="menu-icon" aria-controls="dashboard">
            <i class="mdi mdi-playlist-play"></i>
          </span>
          <span class="menu-title" id="dashboard">Dashboard</span>
        </a>
      </li>

      <% if (hasPermission('View Slider') || hasPermission('View Brands') ||
      hasPermission('View Team Members')) { %>
      <li class="nav-item menu-items mt-2">
        <a
          class="nav-link"
          data-toggle="collapse"
          href="#slider"
          aria-expanded="false"
          aria-controls="slider"
        >
          <span class="menu-icon">
            <i class="mdi mdi-laptop"></i>
          </span>
          <span class="menu-title">Slider & Logos</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="slider">
          <ul class="nav flex-column sub-menu">
            <% if (hasPermission('View Slider')) { %>
            <li class="nav-item menu-items mt-2">
              <a class="nav-link" href="/admin/allSliderListing">
                <span class="menu-icon">
                  <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">Slider</span>
              </a>
            </li>
            <% } %> <% if (hasPermission('View Brands')) { %>
            <li class="nav-item menu-items mt-2">
              <a class="nav-link" href="/admin/allBrandListing">
                <span class="menu-icon">
                  <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">Brands Logo</span>
              </a>
            </li>
            <% } %> <% if (hasPermission('View Team Members')) { %>
            <li class="nav-item menu-items mt-2">
              <a class="nav-link" href="/admin/allTeamMembersImage">
                <span class="menu-icon">
                  <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">Team Members</span>
              </a>
            </li>
            <% } %>
          </ul>
        </div>
      </li>
      <% } %>

      <% if (hasPermission('View All Package') || hasPermission('View Particular Package')) { %>
      <li class="nav-item menu-items mt-2">
        <a
          class="nav-link"
          data-toggle="collapse"
          href="#packages"
          aria-expanded="false"
          aria-controls="packages"
        >
          <span class="menu-icon">
            <i class="mdi mdi-laptop"></i>
          </span>
          <span class="menu-title">All Packages</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="packages">
          <ul class="nav flex-column sub-menu">
            <% if (hasPermission('View All Package')) { %>
            <li class="nav-item menu-items mt-2">
              <a class="nav-link" href="/admin/packages">
                <span class="menu-icon">
                  <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">All Packages</span>
              </a>
            </li>
            <% } %>
            <% if (hasPermission('View Particular Package')) { %>
            <li class="nav-item menu-items mt-2">
              <a class="nav-link" href="/admin/domesticPackagesListing">
                <span class="menu-icon">
                  <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">Domestic Packages</span>
              </a>
            </li>
            <% } %>
            <% if (hasPermission('View Particular Package')) { %>
            <li class="nav-item menu-items mt-2">
              <a class="nav-link" href="/admin/internationalPackagesListing">
                <span class="menu-icon">
                  <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">International Packages</span>
              </a>
            </li>
            <% } %>
            <% if (hasPermission('View Siteseens')) { %>
            <li class="nav-item menu-items mt-2">
              <a class="nav-link" href="/admin/allSiteSeenListing">
                <span class="menu-icon">
                  <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">All Siteseen</span>
              </a>
            </li>
            <% } %>
          </ul>
        </div>
      </li>
      <% } %>

      <% if (hasPermission('View Inqueries') || hasPermission('View Testimonials') ||
       hasPermission('View Contact Us'))  { %>
      <li class="nav-item menu-items mt-2">
        <a
          class="nav-link"
          data-toggle="collapse"
          href="#customerReviews"
          aria-expanded="false"
          aria-controls="customerReviews"
        >
          <span class="menu-icon">
            <i class="mdi mdi-laptop"></i>
          </span>
          <span class="menu-title">All Customer Messages</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="customerReviews">
          <ul class="nav flex-column sub-menu">
            <% if (hasPermission('View Inqueries')) { %>
            <li class="nav-item menu-items mt-2">
              <a class="nav-link" href="/admin/inqueriesListing">
                <span class="menu-icon">
                  <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">Total Inqueries</span>
              </a>
            </li>
            <% } %> <% if (hasPermission('View Testimonials')) { %>
            <li class="nav-item menu-items mt-2">
              <a class="nav-link" href="/admin/allTestimonialListing">
                <span class="menu-icon">
                  <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">Testimonial</span>
              </a>
            </li>
            <% } %> <% if (hasPermission('View Contact Us')) { %>
            <li class="nav-item menu-items mt-2">
              <a class="nav-link" href="/admin/allContactUsListing">
                <span class="menu-icon">
                  <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">Contact Us</span>
              </a>
            </li>
            <% } %>
          </ul>
        </div>
      </li>
      <% } %>

      <% if (hasPermission('View Blogs') || 
          hasPermission('View Youtube Videos') || 
          hasPermission('View About Us Content') ||  
          hasPermission('View Branch Location') ||  
          hasPermission('View Social Media Link')) { %>
        <li class="nav-item menu-items mt-2">
  <a
    class="nav-link"
    data-toggle="collapse"
    href="#furtherInformation"
    aria-expanded="false"
    aria-controls="furtherInformation"
  >
    <span class="menu-icon">
      <i class="mdi mdi-laptop"></i>
    </span>
    <span class="menu-title">Additional Information</span>
    <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="furtherInformation">
    <ul class="nav flex-column sub-menu">
      <% if (hasPermission('View Blogs')) { %>
      <li class="nav-item menu-items mt-2">
        <a class="nav-link" href="/admin/allBlogsListing">
          <span class="menu-icon">
            <i class="mdi mdi-playlist-play"></i>
          </span>
          <span class="menu-title">Blogs</span>
        </a>
      </li>
      <% } %>

      <% if (hasPermission('View Youtube Videos')) { %>
      <li class="nav-item menu-items mt-2">
        <a class="nav-link" href="/admin/allYoutubeVideos">
          <span class="menu-icon">
            <i class="mdi mdi-playlist-play"></i>
          </span>
          <span class="menu-title">Youtube Videos</span>
        </a>
      </li>
      <% } %>

      <% if (hasPermission('View About Us Content')) { %>
      <li class="nav-item menu-items mt-2">
        <a class="nav-link" href="/admin/aboutUsPageContent">
          <span class="menu-icon">
            <i class="mdi mdi-playlist-play"></i>
          </span>
          <span class="menu-title">About Us Content</span>
        </a>
      </li>
      <% } %>

      <% if (hasPermission('View Branch Location')) { %>
      <li class="nav-item menu-items mt-2">
        <a class="nav-link" href="/admin/allBranchLocation">
          <span class="menu-icon">
            <i class="mdi mdi-playlist-play"></i>
          </span>
          <span class="menu-title">Branch Location</span>
        </a>
      </li>
      <% } %>

      <% if (hasPermission('View Social Media Link')) { %>
      <li class="nav-item menu-items mt-2">
        <a class="nav-link" href="/admin/socialMediaLinkListing">
          <span class="menu-icon">
            <i class="mdi mdi-playlist-play"></i>
          </span>
          <span class="menu-title">Social Media Link</span>
        </a>
      </li>
      <% } %>
    </ul>
  </div>
        </li>
      <% } %>

      <% if (hasPermission('View Roles') || 
          hasPermission('View Employees') || 
          hasPermission('View Permissions')) { %>
      <li class="nav-item menu-items mt-2">
        <a
          class="nav-link"
          data-toggle="collapse"
          href="#roleAndPermission"
          aria-expanded="false"
          aria-controls="roleAndPermission"
        >
          <span class="menu-icon">
            <i class="mdi mdi-laptop"></i>
          </span>
          <span class="menu-title">Role & Permission</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="roleAndPermission">
          <ul class="nav flex-column sub-menu">
            <% if (hasPermission('View Employees')) { %>
            <li class="nav-item menu-items mt-2">
              <a class="nav-link" href="/admin/allUserListing">
                <span class="menu-icon">
                  <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">Users / Employees</span>
              </a>
            </li>
            <% } %>
            <% if (hasPermission('View Roles')) { %>
            <li class="nav-item menu-items mt-2">
              <a class="nav-link" href="/admin/rolesListing">
                <span class="menu-icon">
                  <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">Roles</span>
              </a>
            </li>
            <% } %>
            <% if (hasPermission('View Permissions')) { %>
            <li class="nav-item menu-items mt-2">
              <a class="nav-link" href="/admin/permissionListing">
                <span class="menu-icon">
                  <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">Permission</span>
              </a>
            </li>
            <% } %>
          </ul>
        </div>
      </li>
      <% } %>

      <% if (hasPermission('View Flight Meal')) { %>
      <li class="nav-item menu-items mt-2">
        <a
          class="nav-link"
          data-toggle="collapse"
          href="#flightsSection"
          aria-expanded="false"
          aria-controls="flightsSection"
        >
          <span class="menu-icon">
            <i class="mdi mdi-laptop"></i>
          </span>
          <span class="menu-title">Flights Section</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="flightsSection">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item menu-items mt-2">
              <a class="nav-link" href="/admin/mealListing">
                <span class="menu-icon">
                  <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">Flight Meal Details</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <% } %>

      <li class="nav-item menu-items mt-2">
        <a
          class="nav-link"
          data-toggle="collapse"
          href="#paymentStatus"
          aria-expanded="false"
          aria-controls="paymentStatus"
        >
          <span class="menu-icon">
            <i class="mdi mdi-laptop"></i>
          </span>
          <span class="menu-title">All Payment Status</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="paymentStatus">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item menu-items mt-2">
              <a class="nav-link" href="/admin/flight-payment-details">
                <span class="menu-icon">
                  <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">Flight Payment</span>
              </a>
            </li>
          </ul>
        </div>
      </li>


      <% if (hasPermission('View Promo Codes') || hasPermission('View Discount Coupon')) { %>
      <li class="nav-item menu-items mt-2">
        <a
          class="nav-link"
          data-toggle="collapse"
          href="#couponsCode"
          aria-expanded="false"
          aria-controls="couponsCode"
        >
          <span class="menu-icon">
            <i class="mdi mdi-laptop"></i>
          </span>
          <span class="menu-title">All Coupon</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="couponsCode">
          <ul class="nav flex-column sub-menu">
            <% if (hasPermission('View Promo Codes')) { %>
            <li class="nav-item menu-items mt-2">
              <a class="nav-link" href="/admin/promoListing">
                <span class="menu-icon">
                  <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">Promo Codes</span>
              </a>
            </li>
            <% } %>

            <% if (hasPermission('View Discount Coupon')) { %>
            <li class="nav-item menu-items mt-2">
              <a class="nav-link" href="/admin/discountCouponListing">
                <span class="menu-icon">
                  <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">Discount Coupon</span>
              </a>
            </li>
            <% } %>
          </ul>
        </div>
      </li>
      <% } %>

      <% if (hasPermission('View Contact Us Hotel Listing') || hasPermission(`View Hotel's Testimonial`) || hasPermission(`View Hotel Coupon Codes`)) { %>
      <li class="nav-item menu-items mt-2">
        <a
          class="nav-link"
          data-toggle="collapse"
          href="#hotelCouponCodes"
          aria-expanded="false"
          aria-controls="hotelCouponCodes"
        >
          <span class="menu-icon">
            <i class="mdi mdi-laptop"></i>
          </span>
          <span class="menu-title">Hotel Customer all message</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="hotelCouponCodes">
          <ul class="nav flex-column sub-menu">
            <% if (hasPermission('View Contact Us Hotel Listing')) { %>
            <li class="nav-item menu-items mt-2">
              <a class="nav-link" href="/admin/hotelContactUs">
                <span class="menu-icon">
                  <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">Contact Us (Hotel)</span>
              </a>
            </li>
            <% } %>
            <% if (hasPermission(`View Hotel's Testimonial`)) { %>
            <li class="nav-item menu-items mt-2">
              <a class="nav-link" href="/admin/hotelTestimonialGet">
                <span class="menu-icon">
                  <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">Testimonial (Hotel)</span>
              </a>
            </li>
            <% } %>
            <% if (hasPermission(`View Hotel Coupon Codes`)) { %>
            <li class="nav-item menu-items mt-2">
              <a class="nav-link" href="/admin/hotelCouponCodeListing">
                <span class="menu-icon">
                  <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">Coupon Code (Hotel)</span>
              </a>
            </li>
            <% } %>
          </ul>
        </div>
      </li>
      <% } %>

      <% if (hasPermission('View Package Themes')) { %>
      <li class="nav-item menu-items mt-2">
        <a class="nav-link" href="/admin/popularPackagesThemeListing">
          <span class="menu-icon">
            <i class="mdi mdi-playlist-play"></i>
          </span>
          <span class="menu-title">Package Theme</span>
        </a>
      </li>
      <% } %>
      <li class="nav-item menu-items mt-2">
        <a class="nav-link" href="/admin/test-template">
          <span class="menu-icon">
            <i class="mdi mdi-playlist-play"></i>
          </span>
          <span class="menu-title">Template</span>
        </a>
      </li>
    </div>
  </ul>
</nav>
