<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<title>Travells Agency</title>
<link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css" />
<link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css" />
<link rel="stylesheet" href="/vendors/jvectormap/jquery-jvectormap.css" />
<link rel="stylesheet" href="/vendors/flag-icon-css/css/flag-icon.min.css" />
<link rel="stylesheet" href="/vendors/owl-carousel-2/owl.carousel.min.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
  integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link
  rel="stylesheet"
  href="/vendors/owl-carousel-2/owl.theme.default.min.css"
/>
<link rel="stylesheet" href="/css/style.css" />
<link rel="shortcut icon" href="/images/favicon.png" />
<link rel="stylesheet" href="/vendors/select2/select2.min.css" />
<link
  rel="stylesheet"
  href="/vendors/select2-bootstrap-theme/select2-bootstrap.min.css"
/>
